//- User nav (profile) mixin
mixin usernav
  .row.justify-content-around.py-3.mt-3
    .col.text-center
      - if(url === '/profile')
        a(href='/profile', class='active') My Profile
      - else
        a(href="/profile") My Profile
    .col.text-center
      - if(url === '/reservations')
        a(href='/reservations', class='active') Reservations
      - else
        a(href="/reservations") Reservations
    .col.text-center
      - if(url === '/favorites')
        a(href='/favorites', class='active') Taste List
      - else
        a(href="/favorites") Taste List

//- Winery Admin navbar (sidebar)
mixin winerydashboard
  #sidebar.col-md-2.col-xs-1.pl-0.pr-0
    .row
      #sticky.col-12
        h1 Bodegas YSIOS
        .list-group
          //- Active if Book
          - if(url === '/book-w')
            a.list-group-item.active(href='/book-w')
              i.fa.fa-ticket
              span.hidden-sm-down Book
          - else
            a.list-group-item(href='/book-w')
              i.fa.fa-ticket
              span.hidden-sm-down Book
          //- Active if Book List
          - if(url === '/book-list-w')
            a.list-group-item.active(href='/book-list-w')
              i.fa.fa-list
              span.hidden-sm-down Book List
          - else
            a.list-group-item(href='/book-list-w')
              i.fa.fa-list
              span.hidden-sm-down Book List
          //- Active if Varietals & Wines
          - if(url === '/varietals-and-wines-w')
            a.list-group-item.active(href='/varietals-and-wines-w')
              i.fa.fa-glass
              span.hidden-sm-down Varietals & Wines
          - else
            a.list-group-item(href='/varietals-and-wines-w')
              i.fa.fa-glass
              span.hidden-sm-down Varietals & Wines
          //- Active if Profile
          - if(url === '/profile-w')
            a.list-group-item.active(href='/profile-w')
              i.fa.fa-user
              span.hidden-sm-down Profile
          - else
            a.list-group-item(href='/profile-w')
              i.fa.fa-user
              span.hidden-sm-down Profile
          //- Active if Analytics
          - if(url === '/analytics-w')
            a.list-group-item.active(href='/analytics-w')
              i.fa.fa-line-chart
              span.hidden-sm-down Analytics
          - else
            a.list-group-item(href='/analytics-w')
              i.fa.fa-line-chart
              span.hidden-sm-down Analytics
          //- Active if Premium
          - if(url === '/go-premium-w')
            a.list-group-item.active(href='/go-premium-w')
              i.fa.fa-diamond
              span.hidden-sm-down Go Premium!
          - else
            a.list-group-item(href='/go-premium-w')
              i.fa.fa-diamond
              span.hidden-sm-down Go Premium!
        img(src='/images/logo-glasshoppr-white.svg', class='text-center')
      
//- Calendar mixin with variables
mixin calendar
  - var check = moment();
  - var day   = check.format('D');
  - var timestamp = moment();
  - var today = moment();
  - var dayNum = today.format('D');
  - var year  = check.format('YYYY');
  - var month = check.format('MMMM');
  - var monthStart = moment().startOf('isomonth');
  - var monthEnd = moment().endOf('isomonth');
  - var dayName = check.format('dddd');
  - var daysName = moment.weekdays();
  - var monthLength = moment().daysInMonth();
  - var weekDay = moment().weekday();
  - var week = moment().week();
  - var index = 1;
  #container.calendar
    header
      h1 #{dayName} #{dayNum}
      h2 #{month}, #{year}
    #headings
      ul
        each val in daysName
          li= val
    section
      while index <= monthLength
        if index == dayNum
          div(class="today")= index++
        else
          div= index++
